aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
annotated-types==0.6.0
anthropic==0.40.0
anyio==3.7.1
attrs==24.2.0
boto3==1.35.81
botocore==1.35.81
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.1
click==8.1.7
deprecation==2.1.0
distro==1.9.0
et_xmlfile==2.0.0
Faker==33.3.1
fastapi==0.112.1
frozenlist==1.5.0google-auth==2.37.0google-genai==0.3.0gotrue==2.11.0grpcio==1.69.0h11==0.14.0h2==4.1.0hpack==4.0.0httpcore==1.0.7httpx==0.27.2hyperframe==6.0.1idna==3.4jiter==0.8.0jmespath==1.0.1multidict==6.1.0mysql-connector-python==9.1.0npTDMS==1.9.0numpy==2.1.3openpyxl==3.1.5packaging==24.2pandas==2.2.3pandas-stubs==2.2.3.241126pillow==11.1.0postgrest==0.18.0propcache==0.2.1protobuf==5.29.2psycopg2-binary==2.9.10pyasn1==0.6.1pyasn1_modules==0.4.1pydantic==2.10.3pydantic_core==2.27.1python-dateutil==2.9.0.post0python-dotenv==1.0.1python-multipart==0.0.19pytz==2024.2PyYAML==6.0.2realtime==2.0.6requests==2.32.3requests-toolbelt==1.0.0rsa==4.9s3transfer==0.10.4sift_stack_py==0.3.0six==1.17.0sniffio==1.3.0starlette==0.38.2storage3==0.9.0supabase==2.10.0supafunc==0.7.0types-protobuf==5.29.1.20241207types-pytz==2024.2.0.20241221types-PyYAML==6.0.12.20241230types-requests==2.32.0.20241016typing_extensions==4.12.2tzdata==2024.2urllib3==2.2.3uvicorn==0.23.2websockets==13.1yarl==1.18.3